In [1]:
import numpy as np
import pandas as pd
import plotly as plt

In [2]:
from spinorama.load_webplotdigitizer import parse_graph_freq_webplotdigitizer

In [73]:
status, (name, df) = parse_graph_freq_webplotdigitizer(
    "../datas/measurements/Perlisten r4s/vendor/extracted/wpd_project/wpd.json"
)

In [74]:
status

True

In [75]:
df

              Freq         dB Measurements
0       114.231730  87.176447      On Axis
1       115.024341  87.191406      On Axis
2       115.822453  87.204747      On Axis
3       116.626102  87.204747      On Axis
4       117.435328  87.204747      On Axis
...            ...        ...          ...
2891  19320.349599  74.906737  Sound Power
2892  19454.406385  74.655151  Sound Power
2893  19589.393341  74.536791  Sound Power
2894  19725.316923  74.562212  Sound Power
2895  19862.183627  74.560013  Sound Power

[2896 rows x 3 columns]

In [76]:
mins = df.groupby("Measurements").min()
mins

                         Freq         dB
Measurements
Early Reflections   20.000000  61.315424
Listening Window   118.250168  83.159802
On Axis            114.231730  83.638976
Sound Power        130.269819  74.448185

In [77]:
min_measurement = mins.Freq.idxmin()
min_measurement

'Early Reflections'

In [78]:
for measurement in mins.index:
    if measurement == min_measurement:
        continue
    query = 'Measurements == "{}"'.format(measurement)
    min_measurement_freq = mins.query(query).Freq.values[0]
    copy = df.loc[(df["Measurements"] == min_measurement) & (df.Freq < min_measurement_freq)][
        ["Freq", "dB"]
    ]
    df = pd.concat(
        [df, pd.DataFrame({"Freq": copy.Freq, "dB": copy.dB, "Measurements": measurement})]
    )

In [79]:
df

            Freq         dB Measurements
0     114.231730  87.176447      On Axis
1     115.024341  87.191406      On Axis
2     115.822453  87.204747      On Axis
3     116.626102  87.204747      On Axis
4     117.435328  87.204747      On Axis
...          ...        ...          ...
1562  124.975761  87.199673  Sound Power
1563  125.842922  87.219795  Sound Power
1564  126.716100  87.239902  Sound Power
1565  127.595336  87.259799  Sound Power
1566  129.372153  87.078796  Sound Power

[3674 rows x 3 columns]

In [80]:
df.groupby("Measurements").min()

                   Freq         dB
Measurements
Early Reflections  20.0  61.315424
Listening Window   20.0  61.315424
On Axis            20.0  61.315424
Sound Power        20.0  61.315424